/*
Color Pallete


Dark Orange : #E85A4F
Light Orange: #E98074
Gray : #8E8D8A
Tan : #D8C3A5
Off White: #EAE7DC


*/



body {
    font-family: 'Arvo', serif;
    background: #EAE7DC;
    position:relative;

}

h1 {
    text-align: center;
    color: #E85A4F;
}
h2 {
    text-align: center;
    color: #8E8D8A;
}

h3 {
    text-align: center;
    color: #E85A4F
}

hr {
    width: 75%;
    height: 2px;
    background: #E98074;
    border-radius: 50px;
}

p{
    margin-bottom:0px;
}

.big-body-text {
    font-size: large;
    color:#EAE7DC;
    align-self: center;
}
.even{
    background:#E98074;
    border-radius:20px;
}
.odd{
    background:#D8C3A5;
    border-radius:20px;
}
.rounded-video {
    border-radius:20px;
    z-index: 9;
}
.video {
    z-index:10
}

.social_icons:hover{
    opacity: .7;
}

.navbar-custom {
    background-color: #EAE7DC;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #8E8D8A;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #8E8D8A;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active,
.navbar-custom .nav-item:hover {
    color: #E85A4F;
}

#top-block{
    background: #D8C3A5;
    border-radius: 0px 0px 15px 15px;
}

#git_icon{
    margin-bottom: 1rem;
    border-radius: 10%;
    width: 60%;
}

#linkedin_icon{
    margin-bottom: 1rem;
    border-radius: 10%;
    width: 60%;
}


#footer{
    background: #D8C3A5;
    border-radius: 15px 15px 0px 0px;
    color:#8E8D8A;
    font-size:small;
}




