/*
Color Pallete


Dark Orange : #E85A4F
Light Orange: #E98074
Gray : #8E8D8A
Tan : #D8C3A5
Off White: #EAE7DC


*/



body {
    font-family: 'Arvo', serif;
    background: #EAE7DC;

}

h1 {
    text-align: center;
    color: #E85A4F;
}
h2 {
    text-align: center;
    color: #8E8D8A;
}

h3 {
    text-align: center;
    color: #E85A4F
}

hr {
    width: 75%;
    height: 2px;
    background: #E98074;
    border-radius: 50px;
}

.big-body-text {
    font-size: large;
}

#top-block{
    background: #D8C3A5;
    border-radius: 0px 0px 15px 15px;
}

#git_icon{
    border-radius:10px;
    max-width: 60%;
    margin-bottom: 1rem;
}
#linkedin_icon{
    border-radius:10px;
    max-width: 60%;
    margin-bottom: 1rem;
}

