/*
Color Pallete


Dark Orange : #E85A4F
Light Orange: #E98074
Gray : #8E8D8A
Tan : #D8C3A5
Off White: #EAE7DC


*/



body {
    font-family: 'Arvo', serif;
    background: #EAE7DC;
    position:relative;

}

h1 {
    text-align: center;
    color: #E85A4F;
}
h2 {
    text-align: center;
    color: #8E8D8A;
}

h3 {
    text-align: center;
    color: #E85A4F
}

hr {
    width: 75%;
    height: 2px;
    background: #E98074;
    border-radius: 50px;
}

p{
    margin-bottom:0px;
}

.big-body-text {
    font-size: large;
    color:#EAE7DC;
    align-self: center;
}
.even{
    background:#E98074;
    border-radius:20px;
}
.odd{
    background:#D8C3A5;
    border-radius:20px;
}
.rounded-video {
    border-radius:20px;
    z-index: 9;
}
.video {
    z-index:10
}

.social_icons:hover{
    opacity: .7;
}


.navbar-custom {
    background-color: #EAE7DC;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #8E8D8A;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #8E8D8A;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active,
.navbar-custom .nav-item:hover {
    color: #E85A4F;
}
.btn-primary{color:#D8C3A5;background-color:#E85A4F;border-color:#8E8D8A}
.btn-primary:hover{color:#D8C3A5;background-color:#E85A4F;border-color:#009a9a}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem #8E8D8A}
.btn-primary.disabled,.btn-primary:disabled{color:#EAE7DC;background-color:#E85A4F;border-color:#8E8D8A}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#D8C3A5;background-color:#E85A4F;border-color:#8E8D8A}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}

.btn-outline-primary{color:#D8C3A5;background-color:transparent;background-image:none;border-color:#8E8D8A}.btn-outline-primary:hover{color:#D8C3A5;background-color:#E85A4F;border-color:#8E8D8A}
.btn-outline-primary:focus,.btn-outline-primary.focus{box-shadow:0 0 0 .2rem #8E8D8A}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#D8C3A5;background-color:transparent}
.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{color:#EAE7DC;background-color:#E85A4F;border-color:#8E8D8A}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #8E8D8A}

#top-block{
    background: #D8C3A5;
    border-radius: 0px 0px 15px 15px;
}

#git_icon{
    margin-bottom: 1rem;
    border-radius: 10%;
    width: 60%;
}

#linkedin_icon{
    margin-bottom: 1rem;
    border-radius: 10%;
    width: 60%;
}


#footer{
    background: #D8C3A5;
    border-radius: 15px 15px 0px 0px;
    color:#8E8D8A;
    font-size:small;
}

#navbar {
    width:100%;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 11;
}





